---
import HeroCanvas from "../components/HeroCanvas.astro";
import ImageLoader from "../components/ImageLoader.astro";
import jdl from "../images/jdl.png";
import jdlBG from "../images/jdl-loading.png";
import WorkButton from "../components/WorkButton.astro";
import qrResume from "../images/qr-resume.png";
import qrResumeLoading from "../images/qr-resume-loading.png";
import qrPortfolio from "../images/qr-portfolio.png";
import qrPortfolioLoading from "../images/qr-portfolio-loading.png";

import lwg from "../images/education/lwg.png";
import lwgLoading from "../images/education/lwg-loading.png";
import ciit from "../images/education/ciit.png";
import ciitLoading from "../images/education/ciit-loading.png";

import photoshop from "../images/tools/photoshop.png";
import premierePro from "../images/tools/premiere-pro.png";
import reaper from "../images/tools/reaper.png";
import canva from "../images/tools/canva.png";
import audition from "../images/tools/audition.png";
import afterEffects from "../images/tools/after-effects.png";

import photoshopLoading from "../images/tools/photoshop-loading.png";
import premiereProLoading from "../images/tools/premiere-pro-loading.png";
import reaperLoading from "../images/tools/reaper-loading.png";
import canvaLoading from "../images/tools/canva-loading.png";
import auditionLoading from "../images/tools/audition-loading.png";
import afterEffectsLoading from "../images/tools/after-effects-loading.png";

import weReviveBG from "../videos/bg/Werevive.webm";
import londongBG from "../videos/bg/London.webm";
import summitBG from "../videos/bg/Summit.webm";
import jilBG from "../videos/bg/Jil.webm";

import "../stylesheets/styles.css";

const currentYear = new Date().getFullYear();

const tools = [
  {
    title: "Adobe Premiere Pro",
    image: premierePro,
    background: premiereProLoading,
  },
  {
    title: "Adobe After Effects",
    image: afterEffects,
    background: afterEffectsLoading,
  },
  { title: "Adobe Audition", image: audition, background: auditionLoading },
  { title: "Adobe Photoshop", image: photoshop, background: photoshopLoading },
  { title: "Canva", image: canva, background: canvaLoading },
  {
    title: "Reaper - Digital Audio Workstation",
    image: reaper,
    background: reaperLoading,
  },
];
const adobeTools = tools.slice(0, 4);
const otherTools = tools.slice(4);
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <meta name="author" content="Lasty" />
    <title>Joshua David Lantican - Freelance Video Editor</title>
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto+Flex:wght@200;400;600&display=swap"
      rel="stylesheet"
    />
  </head>
  <body data-active-section="hero">
    <div id="loading-screen">
      <div id="loading-message">
        <p><span>Joshua David Lantican</span><span>Portfolio</span></p>
      </div>
    </div>
    <div id="main-frame"></div>
    <div id="theme-switcher">
      <input type="checkbox" name="theme-switch" id="theme-switch" />
      <label for="theme-switch">
        <p><span class="light box-marker"></span>Light</p>
        <p><span class="dark box-marker"></span>Dark</p>
      </label>
    </div>
    <header id="main-header">
      <nav>
        <ul>
          <li><a href="#hero">Home</a><span>&#12472;</span></li>
          <li><a href="#works">Works</a><span>&#12472;</span></li>
          <li><a href="#services">Services</a><span>&#12472;</span></li>
          <li><a href="#info">Info</a><span>&#12472;</span></li>
          <li><a href="#contact">Contact</a><span>&#12472;</span></li>
        </ul>
      </nav>
    </header>
    <main>
      <section class="panel" id="hero">
        <div id="name">
          <h1>Joshua David Lantican</h1>
          <p>Freelance Video Editor</p>
        </div>
        <div class="panel__content">
          <p>
            I'm Joshua, a passionate and experienced freelance video editor with
            over five years of expertise in the field. My focus lies in Social
            Media Management and Video Editing, with a significant
            specialization in the Real Estate Industry, where I have
            successfully garnered over 15,000 views across various social media
            platforms.
          </p>
          <p>
            As a professional video editor, my mission is to create captivating
            and persuasive videos that resonate with your audience. I excel at
            transforming raw footage into engaging final products, employing my
            creativity and storytelling skills to effectively communicate your
            message.
          </p>
        </div>
        <div class="panel__bg" data-bg-active="true">
          <HeroCanvas />
          <div class="screen">
            <ImageLoader id="jdl__photo-card" bg={jdlBG} src={jdl} />
            <div class="screen-overlay"></div>
            <div class="screen-inset-border"></div>
          </div>
        </div>
      </section>
      <section class="panel" id="works">
        <div class="panel__content | text-right">
          <h2 class="bullet-title | fs-regular fw-semibold">
            Companies I've Worked With
          </h2>
          <ul>
            <li>
              <WorkButton
                company="WeRevive"
                position="Marketing Assistant / Video Editor"
              />
            </li>
            <li>
              <WorkButton
                company="London Outsourced Inc. - July Social"
                position="Freelance Creative Artist"
              />
            </li>
            <li>
              <WorkButton
                company="The Summit Group - Powered by EXP"
                position="Social Media Manager / Video Editor"
              />
            </li>
            <li>
              <WorkButton
                company="Jesus Is Lord Church - Los Baños"
                position="Multimedia and Arts Network"
              />
            </li>
          </ul>
        </div>
        <div class="panel__bg" data-work-bg="werevive">
          <video loop muted preload="none">
            <source src={weReviveBG} />
          </video>
        </div>
        <div
          class="panel__bg"
          data-work-bg="london-outsourced-inc---july-social"
        >
          <video loop muted preload="none">
            <source src={londongBG} />
          </video>
        </div>
        <div class="panel__bg" data-work-bg="the-summit-group---powered-by-exp">
          <video loop muted preload="none">
            <source src={summitBG} />
          </video>
        </div>
        <div class="panel__bg" data-work-bg="jesus-is-lord-church---los-baos">
          <video loop muted preload="none">
            <source src={jilBG} />
          </video>
        </div>
      </section>
      <section class="panel" id="services">
        <div class="panel__content | text-right">
          <div class="title">
            <div>
              <h2 class="fs-regular fw-bold">Creative Mastery</h2>
              <p class="fs-small">Elevate Your Content with My Skills</p>
            </div>
          </div>
          <ul>
            <li>Post-Process Video Editing</li>
            <li>Social Media Video Editing (Youtube, Reels, TikTok)</li>
            <li>Video Repurposing</li>
            <li>Podcast/Audio Editing</li>
            <li>Photo Editing</li>
            <li>Graphic Design</li>
            <li>Marketing (Email Marketing, Newsletter, Flyers & Posters)</li>
          </ul>
        </div>
      </section>
      <section class="panel" id="info">
        <h2 class="sr-only">Info</h2>
        <div class="panel__content | text-right">
          <h3 class="bullet-title | fw-semibold">Certifications</h3>
          <ul class="education-list">
            <li id="LWG">
              <p class="fw-thin">Podcast Editing Course</p>
              <p class="fw-bold">2021 Life with Glaze</p>
            </li>
            <li id="CIIT">
              <p class="fw-thin">Video Editing - Specialist Virtual Class</p>
              <p class="fw-bold">2022 CIIT Philippines</p>
            </li>
          </ul>
          <h3 class="bullet-title | fw-semibold">Tools I Use</h3>
          <ul class="tools-list">
            <div class="tools-list__sub">
              {
                adobeTools.map((tool) => {
                  return (
                    <li title={tool.title}>
                      <p class="sr-only">{tool.title}</p>
                      <div class="tool-image">
                        <ImageLoader
                          src={tool.image}
                          bg={tool.background}
                          alt={`${tool.title} logo`}
                          fit="contain"
                        />
                      </div>
                    </li>
                  );
                })
              }
            </div>
            <div class="tools-list__sub">
              {
                otherTools.map((tool) => {
                  return (
                    <li title={tool.title}>
                      <p class="sr-only">{tool.title}</p>
                      <div class="tool-image">
                        <ImageLoader
                          src={tool.image}
                          bg={tool.background}
                          alt={`${tool.title} logo`}
                          fit="contain"
                        />
                      </div>
                    </li>
                  );
                })
              }
            </div>
          </ul>
        </div>
        <div class="panel__bg" id="LWG-bg">
          <div class="screen">
            <ImageLoader
              src={lwg}
              bg={lwgLoading}
              alt="Podcast Editing Certification"
            />
            <div class="screen-overlay"></div>
          </div>
        </div>
        <div class="panel__bg" id="CIIT-bg">
          <div class="screen">
            <ImageLoader
              src={ciit}
              bg={ciitLoading}
              alt="Video Editing Certification"
            />
            <div class="screen-overlay"></div>
          </div>
        </div>
      </section>
      <section class="panel" id="contact">
        <h2 class="sr-only">Get In Touch</h2>
        <div class="panel__content | text-right">
          <address>
            <p>
              <a href="mailto:jdavid.lantican@gmail.com"
                >jdavid.lantican@gmail.com</a
              >
            </p>
            <p><a href="tel:+639279132298">+63 (927) 913-2298</a></p>
            <p>Bay, Laguna 4033, Philippines</p>
          </address>
          <div id="qr-holder">
            <a
              href="https://drive.google.com/drive/u/0/folders/1ItWG0nrlN2XA9sbqBhx5q7qbRqcfyf6w"
              target="_blank"
              class="qr"
              title="My Drive"
            >
              <p class="chip-label fw-bold">GDrive <span>&#129149;</span></p>
              <ImageLoader
                src={qrPortfolio}
                bg={qrPortfolioLoading}
                alt="QR Code for my portfolio drive."
                fit="contain"
                id="qr-portfolio"
              />
            </a>

            <a
              href="https://drive.google.com/file/d/18ugHRP9TYRQm5lnBUCVDXMMmMzZi9NcY/view"
              target="_blank"
              class="qr"
              title="My Resume"
            >
              <p class="chip-label fw-bold">Resume <span>&#129149;</span></p>
              <ImageLoader
                src={qrResume}
                bg={qrResumeLoading}
                alt="QR Code for my resume."
                fit="contain"
                id="qr-resume"
              />
            </a>
          </div>
        </div>
      </section>
    </main>
    <footer id="main-footer">
      <p>
        &copy; <span id="copyright-year">{currentYear}</span> Joshua David Lantican
      </p>
    </footer>
  </body>
</html>

<script>
  window.addEventListener("load", () => {
    const loadingScreen = document.getElementById("loading-screen");
    const loadingMessage = loadingScreen.querySelector(
      "#loading-message"
    ) as HTMLElement;
    const mainContent = document.querySelector("main");
    setTimeout(() => {
      loadingMessage.style.opacity = "0";
    }, 1500);
    setTimeout(() => {
      loadingScreen.style.opacity = "0";
    }, 2000);
    setTimeout(() => {
      loadingScreen.style.visibility = "hidden";
    }, 2000);
    setTimeout(() => {
      mainContent.style.opacity = "1";
    }, 2000);
  });

  // Update copyright year to current year
  const copyrightYear = document.querySelector(
    "#copyright-year"
  ) as HTMLElement;
  copyrightYear.innerText = new Date().getFullYear().toString();

  // Retrieve the stored theme choice and apply it to the body
  let currentTheme = localStorage.getItem("theme");

  // If no theme is stored, use system preference
  currentTheme =
    currentTheme ||
    (window.matchMedia &&
    window.matchMedia("(prefers-color-scheme: light)").matches
      ? "light"
      : "dark");

  // Apply the theme
  document.body.dataset.theme = currentTheme;

  // Toggle between dark theme and light theme
  document.getElementById("theme-switch").addEventListener("change", () => {
    // Switch the theme
    document.body.dataset.theme =
      document.body.dataset.theme === "dark" ? "light" : "dark";

    // Store the user's theme choice in local storage
    localStorage.setItem("theme", document.body.dataset.theme);
  });

  // Change opacity when section comes and goes into viewport
  const sections = document.querySelectorAll("main > section");

  const observer = new IntersectionObserver(
    (entries, observer) => {
      entries.forEach((entry) => {
        if (entry.isIntersecting) {
          document.querySelector("body").dataset.activeSection =
            entry.target.id;
          entry.target.classList.add("visible");
        } else {
          entry.target.classList.remove("visible");
        }
      });
    },
    { threshold: 0.5 }
  );

  sections.forEach((section) => {
    observer.observe(section);
  });
</script>
